{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}


    <form id="form1" action="/register" method="post" role="form">
        <div class="form-group">
			<input autocomplete="off" autofocus class="form-control" id = "username" name="username" placeholder="Username" type="text" required/>
		</div>
        <div class="form-group">
            <input class="form-control" name="password" id="password" placeholder="Password" type="password" required/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" id = "confirmation" placeholder="Re-type password" type="password" required/>
        </div>
        <button class="btn btn-primary" type="submit" id="#button">Register</button>
	</form>
	
	<script>
		$("#form1").submit(function(e) {
			e.preventDefault();
			password = document.getElementById("password").value
			conf = document.getElementById("confirmation").value
			if (password != conf){
				alert("Passwords do not match!");
				return redirect("/reigster")
			}
			var form = $(this)
		
			$.ajax({
				type: "POST",
				url: "/checkName",
				data:  form.serialize(),
				success: function(data){
					if(data == "false"){
						alert("Username already taken!");
						return redirect("/reigster")
					}
					form.unbind()
					$("#form1").submit()
				}					
				});
		})
	</script>
<!-- Need some way to call ajax on button click; that would solve both these issues?-->
	<!-- <script>
		$("#password").blur(function(){
			$.get("/checkPass", {password: $("#password").val(), confirmation: $("#confirmation").val()} , function(data){
				if (!data){
					$("form").submit(function(e){
						e.preventDefault();
						alert("Passwords do not match");
						location.reload();
					});
				}
			});
		}); -->
	</script>
	
{% endblock %}
